/.idea/*.iml
/.idea/.name
/.idea/php.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/deployment.xml
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/dataSources
/.idea/dataSources.local.xml
/.idea/commandlinetools
/.idea/jsLibraryMappings.xml
/.idea/libraries
/.idea/misc.xml
/.idea/watcherTasks.xml
/.idea/webServers.xml
/.idea/dictionaries
/.idea/inspectionProfiles
/.idea/vagrant.xml
/.idea/runConfigurations/CLI.xml
/.idea/codeStyleSettings.xml
/.idea/remote-mappings.xml
/.settings
/.buildpath
/.project
